{% extends 'base.html.twig' %}

{% block glowny %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <img src="wnuk.jpg" class="img-thumbnail">
        </div>
    </div>

{% endblock %}
