{% extends 'base.html.twig' %}

{% block glowny %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1 class="display-4">Cześć!</h1>
                <p class="lead">To jest (nieoficjalna) strona domowa Pawła z Politechniki, zapraszam!</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">Kontakt</a>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="wnuk.jpg" class="img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Publikacja</th>
                    <th scope="col">Opis</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2018</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>2017</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>2016</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>2019</td>
                    <td>Automatyka w programowaniu</td>
                    <td>O regulowaniu metod wirtualnych</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
